<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robot">

    <xacro:include filename="robot_core.xacro" />

    <!-- differential drive -->
    <xacro:include filename="gazebo_control.xacro" />

    <!-- lidar -->
    <xacro:include filename="lidar.xacro" />

    <!-- imu + magnetometer--> 
    <xacro:include filename="imu.xacro" />
    
    
    <!-- camera (light weight and easy)-->
    <xacro:include filename="camera.xacro" />
            <!-- enable only 1 -->
    <!-- depth cam  (computationally heavy)--> 
    <!-- <xacro:include filename="depth_camera.xacro" /> -->


    <!-- multiple cam -->
    <!-- <xacro:include filename="multi_camera.xacro" /> -->

    <!-- gps -->
    <!-- <xacro:include filename="gps.xacro" /> -->

    <!-- bumper -->
    <!-- <xacro:include filename="bumper.xacro" /> -->

    <!-- display video -->
    <!-- <xacro:include filename="disp_video.xacro" /> -->

</robot>
